@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
@inject IJSRuntime IJS

@page "/auth/{Slug}"

<!-- Main Layout Start -->
<div class="main-layout card-bg-1">
    <div class="container d-flex flex-column">
        <CascadingValue Value="this">
            @Body
        </CascadingValue>
    </div>
</div>
<!-- Main Layout End -->

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                SuccessClass="success-toast-override"
                SuccessIconClass="fa fa-thumbs-up"
                ErrorIconClass="fa fa-bug" />

@code {
    [Parameter]
    public string Slug { get; set; } = "login";

    protected override void OnParametersSet()
    {
        /*
        // pull out the "Slug" parameter from the route data
        object slug = null;
        if ((this.Body.Target as RouteView)?.RouteData.RouteValues?.TryGetValue("Slug", out slug) == true)
        {
            //Slug = slug?.ToString();
        }
        */
    }
    protected override void OnAfterRender(bool firstRender)
    {

        if (firstRender)
        {
            IJS.InvokeVoidAsync("InitApp");
        }
    }
}