@using Paguyuban.Data
@using Paguyuban.Tools
@inject IJSRuntime IJS
@page "/forgot-password"
@inject IToastService toastService
@inject UserProfileService svc
@layout NoAuthLayout

<div class="row no-gutters text-center align-items-center justify-content-center min-vh-100">
    <div class="col-12 col-md-6 col-lg-5 col-xl-4">
        <h1 class="font-weight-bold">Forgot Password</h1>
        <p class="text-dark mb-3">Enter your email address or phone to send password.</p>
        <form class="mb-3">

            <!-- Email -->
            <div class="form-group">
                <label for="email" class="sr-only">Email Address</label>
                <input type="email" @bind="Email" class="form-control form-control-md" id="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="phone" class="sr-only">Phone</label>
                <input type="tel" @bind="Phone" class="form-control form-control-md" id="phone" placeholder="Enter your phone">
            </div>
            <!-- Submit -->
            <button @onclick="KirimPassword" class="btn btn-lg btn-block btn-primary  text-uppercase font-weight-semibold" type="button">Send Password</button>
        </form>
        <p>Already have an account? <a class="font-weight-semibold" href="/sign-in">Sign in</a>.</p>
    </div>
</div>

@code {
    public string Phone { get; set; }
    public string Email { get; set; }
    async Task Tutup()
    {
        await IJS.InvokeVoidAsync("CloseModal", "forgetModal");
    }
    async Task KirimPassword()
    {
        bool IsSuccess = false;
        
        var enc = new Encryption();
        string Error = string.Empty;

        if (string.IsNullOrEmpty(Email) && string.IsNullOrEmpty(Phone))
        {
            toastService.ShowError("Email atau no hp harus di isi.");
            return;
        }
        if (!string.IsNullOrEmpty(Email))
        {
            var item = svc.GetItemByEmail(Email);
            if (item != null)
            {
                var pass = enc.Decrypt(item.Password);
                await MailService.PostmarkSendEmail("Paguyuban - Forget Password", $"Password Anda adalah {pass}", Email, false);
                toastService.ShowSuccess("Info password sudah di kirim ke email Anda");
                IsSuccess = true;
            }
            else
            {
                toastService.ShowError("Email tidak terdaftar.");
            }
        }

        if (!string.IsNullOrEmpty(Phone))
        {
            var item = svc.GetItemByPhone(Phone);
            if (item != null)
            {
                var pass = enc.Decrypt(item.Password);

                await SmsService.SendSms($"[Paguyuban] -> Password Anda adalah {pass}", item.Phone);
                toastService.ShowSuccess("Info password sudah di kirim ke hp Anda");
                IsSuccess = true;

            }
            else
            {
                toastService.ShowError("No HP tidak terdaftar.");
            }
        }

    }
}
